
/* background mark-up */
body{
	width: 900px;
	margin: 0, auto;
	background-color: #949494;
	

	}
	
/* attempted to change the default display but was unsuccessful */
div{
	display: in-line;
	margin-right: 30px;
	float: right;
	clear: both;
	margin 10%;
	
	}
p#start{ 
	background-images: url("images/presence.png");
	background-repeat: repeat-x;
	font-weight: bold;

	}
	
h1#top{
	font-family: San-Serif, Times, Verdana;
	font-style: bold;
	color: rgb(0,224,255);
	text-align: center;
	
	margin: 3px;
	border-style: groove;
	box-shadow: -7px 7px 9px 8px hsla(11, 5%, 18%, 1);
	
	}
	

h2#lamborghini-head{
	
	font-style: small caps;
	text-align: left;
	padding: 10px 7px;
	border: 1px 10px, dotted;
	margin: 20px 2px 2px 2px;
	
}
	
p#lamborghini-info{
	font-family: San-Serif, Times, Verdana;
	line-height: 125%;
	color:rgba(163, 106, 0, 1);
	text-align: right;
	padding: 5px;
	margin: 2px;
	}
	
.lamborghini{
	float: left;
	margin: 15px;
	}


	
h3#gallery{
	background-image: href("images/photo.png");
	background-image: fixed;
	}


	

	

