
/* background mark-up */
body{
	width: 95%;
	margin: 0, auto;
	background-color: #949494;
	

	}
	
/* attempted to change the default display but was unsuccessful */
div{
	display: in-line;
	margin-right: 30px;
	float: right;
	clear: both;
	margin 10%;
	
	}
	
h1#top{
	font-family: Hoefler, Marion, Optima;
	font-style: bold;
	color: rgb(0,224,255);
	text-align: center;
	background-color:#3b3b3b;
	margin: 3px;
	border-style: groove;
	box-shadow: -7px 7px 9px 8px hsla(11, 5%, 18%, 1);
	
	}
	

h2#lamborghini{
	
	font-style: small caps;
	text-align: left;
	padding: 10px 7px;
	border: 1px 10px, dotted;
	margin: 20px 2px 2px 2px;
	
}
	
p#lamborghini-info{
	font-family: Athelas, Optima, Marion;
	line-height: 125%;
	color:rgba(163, 106, 0, 1);
	text-align: right;
	width:30%px;
	text-align: left;
	padding: 5px;
	margin: 2px;
	float: left;
	text
	}



	
	


	

	

	/* Not sure how to get a shadow behind an image */
imgimages/lamborghini.jpg{
	box-shadow: 4px 3px 4px rgba(163, 106, 0, 1);
	}
/* taking a different approach */
figure#lamborghini{
	box-shadow: 4px 3px 4px rgba(163, 106, 0, 1);
	border-image: lamborghini.jpg 4px round;
	}

	