
body{
	width: 95%;
	margin: 0, auto;
	background-color: #949494;
	}

p#start{ 
	background-repeat: repeat-x;
	background: linear-gradient(#5EA5A3, #147A77);
	font-weight: bold;
	}
	
div#cars{
	float: left;
	width: 500px;
	height: 70%;
	border: 10px solid;
	margin: 20px;
	padding: 20px;
	background-color: #67D3D0;
	}
	
	
p{
	font-family: San-Serif, Times, Verdana;
	line-height: 125%;
	width: 70%;
	height: 70%;
	color:#C8CACC;
	background-color: rgba(63, 66, 62, 0.8);
	
	text-align: left;
	padding: 20px;
	margin: 20px;
	}
	

	

h1#top{
	font-family: San-Serif, Times, Verdana;
	font-style: bold;
	font-size: 200%;
	color: rgb(0,224,255);
	text-align: center;
	background-color:#3b3b3b;
	margin: 3px;
	border-style: groove;
	border-width: 4px
	box-shadow: -7px 7px 9px 8px hsla(11, 5%, 18%, 1);
	
	}
	

h2.lamborghini{
	font-family: Verdana, Optima, Times New Roman;
	font-style: small caps;
	color: rgba(255, 173, 25, 1);
	text-align: right;
	width: 940px;
	padding: 10px 7px;
	border: 10px, dotted rgba(245, 176, 75, 1) ;
	margin: 20px 2px 2px 2px;
}

ul#gallery{
	float:left;
	background-color: #088480;
	padding: 20px;
	margin: 20px;
	width: 30%;
	height: 70%;
	border: 10px solid #5ED3D0;
	
	}

li#car1, #car2, #car3{
	padding: 10px 1px;
	border: 0px 0px 10px 0px solid;
	
	}

	
ol#nav{
	float: left;
	clear: both;
	margin: 20px;
	width 10%;
	height: 20%;
	text-align: left;
	}
